body {
    background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}
img {
    height: 500px;
    width: 500px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}
h1, h2 {
    text-align: center;
    margin: 50px;
}
ul {
    columns: 6rem 7;
}
